.container-fluid
    .jumbotron
        h1 Trailhead
        p Welcome to Trailhead. Louisville's premiere place for hikers to meet and plan hikes
    .row
        .col-md-12
            div(ng-include="'/partials/main/upcoming-hikes'")