.panel.panel-primary
    .panel-heading.text-center Upcoming Hikes
    .panel-body
        .row(ng-repeat="hike in hikes | orderBy:'date':false | limitTo:20")
            .col-md-3 {{hike.date | date:'MMM d'}}
            .col-md-9
                a(href="/hikes/{{hike._id}}") {{hike.title}}
